// Colors
$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indigo: #3f51b5;
$blue: #2196F3;
$light-blue: #87CEEB;
$cyan: #00bcd4;
$aqua: #00ffff;
$teal: #009688;
$green: #4CAF50;
$light-green: #8bc34a;
$lime: #cddc39;
$sand: #fdf5e6;

$color__bg-khaki: #f0e68c;
$color__text-khaki: #b4aa50;
$color__border-khaki: #f0e68c;

$color__bg-yellow: #ffeb3b;
$color__text-yellow: #d2be0e;
$color__border-yellow: #ffeb3b;

$amber: #ffc107;
$orange: #ff9800;
$deep-orange: #ff5722;
$blue-grey: #607d8b;
$brown: #795548;

$white: #fff;

$color__bg-light-grey: #f1f1f1;
$color__text-light-grey: #f1f1f1;
$color__border-light-grey: #f1f1f1;

$color__bg-grey: #9e9e9e;
$color__text-grey: #757575;
$color__border-grey: #9e9e9e;

$color__bg-dark-grey: #616161;
$color__text-dark-grey: #3a3a3a;
$color__border-dark-grey: #616161;

$black: #000;

$color__bg-pale-red: #ffdddd;
$color__border-pale-red: #ffe7e7;

$color__bg-pale-yellow: #ffffcc;
$color__border-pale-yellow: #ffffcc;

$color__bg-pale-green: #ddffdd;
$color__border-pale-green: #e7ffe7;

$color__bg-pale-blue: #ddffff;
$color__border-pale-blue: #e7ffff;


$color__background-mark: #ff0;