// Media Queries 
$xl: "(min-width: 1206px)";

$lg: "(max-width: 1205px)";
$bp-lg: "(min-width: 993px)";

$md: "(max-width: 992px)";
$bp-md: "(min-width: 769px)";

$sm: "(max-width: 768px)";
$bp-sm: "(min-width: 601px)";

$xs: "(max-width: 600px)";
