// Font Families
$font-family__primary: Verdana, sans-serif;
$font-family__heading: "Segoe UI", Arial, sans-serif;
$font-family__code: monospace, monospace;
$font-family__pre: monospace, monospace;

// Font Sizes
$font-size__h1: 36px;
$font-size__h2: 30px;
$font-size__h3: 24px;
$font-size__h4: 20px;
$font-size__h5: 18px;
$font-size__h6: 16px;
$font-size__primary: 15px;

// Line Height
$line-height__primary: 1.5;